<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="manifest" href="@Url.Content("~/manifest.json")" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/ReactCrop.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="~/libs/jquery-3.6.0.min.js"></script>
    <script src="~/libs/react.development.js"></script>
    <script src="~/libs/react-dom.development.js"></script>
    <script src="~/libs/react-dayjs/dist/index.js"></script>
    <environment include="Development">
        <script src="~/libs/babel.min.js" charset="utf-8"></script>
    </environment>
    @RenderSection("head", false)
</head>
<body>
    @*<div class="container-lg px-0 sticky-top bg-white maxwidth border border-top-0">
        <table cellpadding="5" cellspacing="0" style="width:100%" class="my-1">
            <tbody>
                <tr>
                    <td>
                        <a href="@Url.Content("~/")" class="text-dark text-decoration-none fs-4">Waarta</a>
                    </td>
                    <td align="center" valign="middle" width="55px">
                        <a class="text-dark fs-3" href="@Url.Content("~/")" title="Home"><i class="bi bi-house"></i></a>
                    </td>
                    <td align="center" valign="middle" width="55px">
                        <a class="text-dark fs-3" href="@Url.Content("~/addpost")" title="Add Post"><i class="bi bi-journal-plus"></i></a>
                    </td>
                    <td align="center" valign="middle" width="55px">
                        <a class="text-dark fs-3" href="@Url.Content("~/notification")" title="Notifications"><i class="bi bi-bell"></i></a>
                    </td>
                    <td align="center" valign="middle" width="55px">
                        <a class="text-dark fs-3" href="@Url.Content("~/profile/")" title="Profile" id="profilemenuanchor">
                            <i class="bi bi-person-badge"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="p-2" align="center" valign="middle">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    </td>
                </tr>
            </tbody>
        </table>
        @RenderSection("toolbar", false)
    </div>*@
    @RenderBody()
    <script src="~/libs/signalr.min.js"></script>
    <script src="~/libs/ReactCrop.min.js"></script>
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <script src="~/libs/fabric.min.js"></script>
    <environment include="Development">
        <script type="text/babel" src="~/js/AuthContext.js"></script>
        <script type="text/babel" src="~/js/BlockContact.js"></script>
        <script type="text/babel" src="~/js/Conversation.js"></script>
        <script type="text/babel" src="~/js/Emoji.js"></script>
        <script type="text/babel" src="~/js/HeartBeat.js"></script>
        <script type="text/babel" src="~/js/Home.js"></script>
        <script type="text/babel" src="~/js/Layout.js"></script>
        <script type="text/babel" src="~/js/ManageProfile.js"></script>
        <script type="text/babel" src="~/js/MemberPost.js"></script>
        <script type="text/babel" src="~/js/MemberPostList.js"></script>
        <script type="text/babel" src="~/js/MemberSmallList.js"></script>
        <script type="text/babel" src="~/js/MessageStrip.js"></script>
        <script type="text/babel" src="~/js/Models.js"></script>
        <script type="text/babel" src="~/js/PersonChat.js"></script>
        <script type="text/babel" src="~/js/Privacy.js"></script>
        <script type="text/babel" src="~/js/Profile.js"></script>
        <script type="text/babel" src="~/js/Search.js"></script>
        <script type="text/babel" src="~/js/TranformMessage.js"></script>
        <script type="text/babel" src="~/js/ViewProfile.js"></script>
        <script type="text/babel" src="~/js/RegisterForm.js"></script>
        <script type="text/babel" src="~/js/App.js"></script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/HeartBeat.js"></script>
        <script src="~/js/compiled/MessageStrip.js"></script>
        <script src="~/js/compiled/RegisterForm.js"></script>
        <script src="~/js/compiled/ManageProfile.js"></script>
        <script src="~/js/compiled/NavMenu.js"></script>
    </environment>
    <script src="~/libs/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('@Url.Content("~/serviceWorker.js")');
            });
        }
    </script>
</body>
</html>
