@using Bolo.Hubs
@using Microsoft.Extensions.Configuration
@using Bolo.Data
@using Microsoft.AspNetCore.SignalR
@using Bolo.Models
@using Bolo.Helper

@inject IConfiguration Configuration

@{
    string fbappid = Configuration["FacebookAppID"];
    ViewBag.applicationServerKey = Configuration["VAPIDpublicKey"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="Yocail - Share Photos With Friends" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/yocail-photo-represent.jpg")" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="@Url.Content("~/manifest.json")" />
    @*link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/theme1/css/reset.css">
    <link rel="stylesheet" href="~/theme1/css/style.css">
    <link rel="stylesheet" href="~/theme1/css/override.css">
    <link href="~/css/ReactCrop.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>
    <script src="~/libs/jquery-3.6.0.min.js"></script>
    <script src="~/libs/react.development.js"></script>
    <script src="~/libs/react-dom.development.js"></script>
    <script src="~/libs/react-dayjs/dist/index.js"></script>
    <environment include="Development">
        <script src="~/libs/babel.min.js" charset="utf-8"></script>
    </environment>
    @RenderSection("head", false)
</head>
<body class="bg-white">
    <div class="container-fluid p-2" id="mainmenubar">
        <div class="row g-0" >
            <div class="col-md-3 d-none d-md-block">
                <a href="@Url.Content("~/")">
                    <img src="~/theme1/images/yocail-logo.svg" class="img-fluid logo mb-3" alt="Yocail logo" />
                </a>
            </div>
            <div class="col-md-9 text-center text-md-end">
                <div class="bg-white py-lg-4 d-md-inline-block">
                    <div class="row g-1 align-items-center justify-items-center">
                        <div class="col-3 text-start d-md-none">
                            <a href="@Url.Content("~/")">
                                <img src="~/theme1/images/yocail-sign-logo.svg" class="img-fluid logo" alt="Yocail logo" />
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="loggedmenuitem d-none text-primary fs-4 mx-md-4" title="Search" data-bs-toggle="modal" data-bs-target="#SearchModal">
                                <i class="bi bi-search"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="loggedmenuitem d-none text-primary fs-4 mx-md-4" href="@Url.Content("~/discover")" title="Discover">
                                <i class="bi bi-globe-central-south-asia"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="loggedmenuitem d-none text-primary fs-4 mx-md-4" data-bs-toggle="modal" data-bs-target="#addPostModal" title="Add Post">
                                <i class="bi bi-file-plus"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#NotificationModal" class="position-relative fs-4 mx-md-4 text-primary loggedmenuitem d-none">
                                <i class="bi bi-bell"></i>
                                <span style="font-size:0.8rem; top:10px;" class="notificationcount d-none position-absolute start-100 translate-middle badge rounded-pill bg-danger">
                                </span>
                            </a>
                        </div>
                        <div class="col">
                            <div class="dropdown loggedmenuitem d-none me-2">
                                <a class="text-primary fs-4 mx-md-4 position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="profilemenuanchor">
                                    <script>
                                        try {
                                            var member = JSON.parse(localStorage.getItem("myself"));
                                            let icon = "<img src='//" + window.location.host + "/theme1/images/person-fill.svg' class='profile-icon profile-pic-border' />";
                                            if (member.pic !== "")
                                                document.write("<img src='//" + window.location.host + "/" + member.pic + "' class='profile-icon profile-pic-border' />");
                                            else
                                                document.write(icon);
                                        } catch (err) {
                                            document.write(icon);
                                        }
                                    </script>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="py-2 border-bottom">
                                        <a class="dropdown-item py-1" href="@Url.Content("~/profile/")"><i class="bi bi-person-lines-fill"></i> Profile</a>
                                    </li>
                                    <li class="py-2 border-bottom">
                                        <a class="dropdown-item py-1" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ignoredMembersModal"><i class="bi bi-sign-stop"></i> Ignored</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="dropdown-item py-1" href="javascript:void(0);" onclick="localStorage.clear();location.href = '//' + location.host;"><i class="bi bi-box-arrow-left"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderSection("toolbar", false)
        </div>
    </div>
    <div id="root" style="min-height: 500px;">
        @RenderBody()
    </div>
    <div class="modal fade" id="NotificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog rounded-4 modal-dialog-scrollable modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-primary fw-semibold fs-4" id="notificationModalLabel">Notifications</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div id="notificationscont"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ignoredMembersModal" tabindex="-1" aria-labelledby="ignoredMembersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary fw-semibold fs-4" id="ignoredMembersModalLabel">Ignored Members</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="ignoredcont">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-lg-down modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary fw-semibold fs-4" id="addPostModalLabel">Add Post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @{
                        await Html.RenderPartialAsync("_AddPost", new PostPhotoDTO() { AcceptComment = true, AllowShare = false });
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SearchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fw-semibold" id="notificationModalLabel"><i class="bi bi-search"></i> Search</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="search"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/libs/dayjs/dayjs.min.js"></script>
    <script src="~/libs/dayjs/plugin/utc.min.js"></script>
    <script src="~/libs/dayjs/plugin/relativeTime.min.js"></script>
    <script>
        dayjs.extend(window.dayjs_plugin_utc);
        dayjs.extend(window.dayjs_plugin_relativeTime)</script>
    <script src="~/libs/signalr.min.js"></script>
    <script src="~/libs/hyperHtml/min.min.js"></script>
    <script>const { bind, wire } = hyperHTML;</script>
    <script src="~/libs/ReactCrop.min.js"></script>
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <script src="~/libs/fabric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @* <script src="~/libs/bootstrap.min.js"></script> *@
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        var sgrkr = new SiteGeneralWorker("@Url.Content("~/api/members/savepulse?s=1")", "@ViewBag.applicationServerKey");
        sgrkr.registerServiceWorker();
        setInterval(function () {
            sgrkr.updateOfflineStatus();
        }, sgrkr.offlineStatusCheckInterval);

        let uhClient = new UniversalHubClient();
        $(document).ready(async () => {
            await uhClient.start();
            uhClient.joinUniversalGroup();
        });

        setInterval(function () {
            sgrkr.sendPulse();
        }, sgrkr.sendPulseInterval);
        if (localStorage.getItem("token") !== null) {
            sgrkr.showNotificationPermissionModal();
        }
    </script>
    <environment include="Development">
        <script type="text/babel" src="~/js/Components.js"></script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/Components.js"></script>
    </environment>

    @RenderSection("scripts", false)
    <environment include="Development">
        <script type="text/babel">
                ReactDOM.render(<Search/>, document.getElementById('search'));
                var nlistcomp =  ReactDOM.render(<NotificationList />, document.getElementById('notificationscont'));
                document.querySelector("body").addEventListener(newNotificationGCEvent, (e) => {
                nlistcomp.addReceivedNotification(e.detail);
            });
            ReactDOM.render(<IgnoredUsers  />, document.getElementById('ignoredcont'));
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            "use strict";
            ReactDOM.render(React.createElement(Search, {}), document.getElementById('search'));
            var nlistcomp = ReactDOM.render(React.createElement(NotificationList, null), document.getElementById('notificationscont'));
            document.querySelector("body").addEventListener(newNotificationGCEvent, e => {
                nlistcomp.addReceivedNotification(e.detail);
            });
            ReactDOM.render(React.createElement(IgnoredUsers, {}), document.getElementById('ignoredcont'));
        </script>
    </environment>
    <script>
        const addPostModal = document.getElementById('addPostModal')
        addPostModal.addEventListener('hidden.bs.modal', event => {
            $("#photocontainer").html("");
            photos = [];
            filescount = 0;
            $("#nextwizardstepbtn,.hasphotos").addClass("d-none");
            $('#initbtncont').removeClass('d-none');
            $('#wizard .step').addClass('active'); $('#wizard #step2').removeClass('active');
        })
        $(document).ready(function () {
            if (window.localStorage.getItem("token") !== null) {
                $(".loggedmenuitem").removeClass("d-none");
            } else {
                $(".loggedmenuitem").addClass("d-none");
            }
        });
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('@Url.Content("~/serviceWorker.js")');
            });
        }
    </script>
</body>
</html>
