@using Bolo.Hubs
@using Microsoft.Extensions.Configuration
@using Bolo.Data
@using Microsoft.AspNetCore.SignalR
@using Bolo.Models
@using Bolo.Helper

@inject IConfiguration Configuration

@{
    string fbappid = Configuration["FacebookAppID"];
    ViewBag.applicationServerKey = Configuration["VAPIDpublicKey"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="Yocail - Share Photos With Friends" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/yocail-photo-represent.jpg")" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="@Url.Content("~/manifest.json")" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/ReactCrop.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>
    <script src="~/libs/jquery-3.6.0.min.js"></script>
    <script src="~/libs/react.development.js"></script>
    <script src="~/libs/react-dom.development.js"></script>
    <script src="~/libs/react-dayjs/dist/index.js"></script>
    <environment include="Development">
        <script src="~/libs/babel.min.js" charset="utf-8"></script>
    </environment>
    @RenderSection("head", false)
</head>
<body>
    <div class="container-lg p-0 sticky-top" style="height:61px">
        <div class="row g-0">
            <div class="col bg-white">
                <table cellpadding="5" cellspacing="0" style="width:100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle">
                                <a href="javascript:void(0)" class="text-dark loggedmenuitem d-none mx-2 fs-4" title="Search" data-bs-toggle="modal" data-bs-target="#SearchModal"><i class="bi bi-search"></i></a>
                            </td>
                            <td align="center" valign="middle">
                                <a class="text-dark mx-2 fs-4 loggedmenuitem d-none" href="@Url.Content("~/discover")" title="Discover"><i class="bi bi-cup-hot"></i></a>
                            </td>
                            <td align="center" width="70%" style="max-width:70%">
                                <a href="@Url.Content("~/")" class="text-dark text-decoration-none fs-2 fw-bold"><img src="~/images/yocail.png" class="img-fluid" style="max-height:40px;" alt="Yocail logo" /></a>
                            </td>

                            <td align="center" valign="middle">
                                <a class="text-dark loggedmenuitem d-none mx-2 fs-4" href="@Url.Content("~/addpost")" title="Add Post"><i class="bi bi-journal-plus"></i></a>
                            </td>

                            <td align="center" valign="middle">
                                <div class="dropdown loggedmenuitem d-none">
                                    <a class="btn btn-link text-dark fs-4 text-decoration-none notificationcountcnt position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="profilemenuanchor">
                                        <script>
                                            try {
                                                var member = JSON.parse(localStorage.getItem("myself"));
                                                if (member.pic !== "") {
                                                    document.write("<img src='//" + window.location.host + "/" + member.pic + "' class='profile-icon    rounded' />");
                                                } else {
                                                    document.write('<i class="bi bi-person-square"></i>');
                                                }
                                            } catch (err) {
                                                document.write('<i class="bi bi-person-square"></i>');
                                            }
                                        </script>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item fs-6 my-1" href="@Url.Content("~/profile/")"><i class="bi bi-person-lines-fill"></i> Profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-6 my-1" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#NotificationModal"><i class="bi bi-bell"></i> Notifications <span class="notificationcount badge rounded-pill bg-danger"></span></a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-6 my-1" href="@Url.Content("~/ignored")"><i class="bi bi-sign-stop"></i> Ignored</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-6 my-1" href="javascript:void(0);" onclick="localStorage.clear();location.href = '//' + location.host;"><i class="bi bi-box-arrow-left"></i> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @RenderSection("toolbar", false)
    </div>
    <div id="root" class="container-lg p-0" style="min-height: 500px;">
        @RenderBody()
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="messageToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto messageheading">New Message</strong>
                <small class="messagetime"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <div class="modal fade" id="NotificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="notificationModalLabel"><i class="bi bi-bell"></i> Notifications</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div id="notificationscont"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SearchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="notificationModalLabel"><i class="bi bi-search"></i> Search</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="search"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/dayjs/dayjs.min.js"></script>
    <script src="~/libs/dayjs/plugin/utc.min.js"></script>
    <script src="~/libs/signalr.min.js"></script>
    <script src="~/libs/hyperHtml/min.min.js"></script>
    <script>const { bind, wire } = hyperHTML;</script>
    <script src="~/libs/ReactCrop.min.js"></script>
    <script src="~/libs/moment.min.js"></script>
    <script src="~/libs/simplepeer.min.js"></script>
    <script src="~/libs/fabric.min.js"></script>
    <script src="~/libs/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        var sgrkr = new SiteGeneralWorker("@Url.Content("~/api/members/savepulse?s=1")", "@ViewBag.applicationServerKey");
        sgrkr.registerServiceWorker();
        setInterval(function () {
            sgrkr.updateOfflineStatus();
        }, sgrkr.offlineStatusCheckInterval);

        let uhClient = new UniversalHubClient();
        $(document).ready(async () => {
            await uhClient.start();
            uhClient.joinUniversalGroup();
        });

        setInterval(function () {
            sgrkr.sendPulse();
        }, sgrkr.sendPulseInterval);
        if (localStorage.getItem("token") !== null) {
            sgrkr.showNotificationPermissionModal();
        }

        document.getElementById('NotificationModal').addEventListener('shown.bs.modal', event => {
            console.log("shown.bs.modal");
            sgrkr.setSeenAllNotification();
        });
        $(document).ready(function () {
            sgrkr.getNotifications();

        });
    </script>
    <environment include="Development">
        <script type="text/babel" src="~/js/Components.js"></script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script src="~/js/compiled/Components.js"></script>
    </environment>

    @RenderSection("scripts", false)
    <environment include="Development">
        <script type="text/babel">
            ReactDOM.render(
            <Search/>,
            document.getElementById('search')
            );
        </script>
    </environment>
    <environment include="Staging,Production" exclude="Development">
        <script>
            "use strict";
            ReactDOM.render(React.createElement(Search, {}), document.getElementById('search'));
        </script>
    </environment>
    <script>
        $(document).ready(function () { 
            if(window.localStorage.getItem("token") !== null){
                $(".loggedmenuitem").removeClass("d-none");
            }else{
                $(".loggedmenuitem").addClass("d-none");
            }
        });
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('@Url.Content("~/serviceWorker.js")');
            });
        }


    </script>
</body>
</html>
