@page "/users"
@using Bolo.Admin.Models;
@using System.Net.Http.Headers;
@inject HttpClient Http
@inject LocalStorageAccessor lss
@inject NavigationManager nm
<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (Loading)
{
    <p><em>Loading...</em></p>
}
else if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Visibility</th>
                <th>Last Pulse</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Members)
            {
                string pic = m.Pic;
                if (pic.StartsWith("dp"))
                {
                    pic = "//www.yocail.com/" + pic;
                }
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(m.Pic))
                        {
                            <img src="@pic" class="img-fluid rounded" style="max-height:50px" />
                        }
                    </td>
                    <td valign="middle">@m.Name</td>
                    <td valign="middle"><a href="https://www.yocail.com/profile?un=@m.UserName" target="_blank">@m.UserName</a></td>
                    <td valign="middle">@m.Email</td>
                    <td valign="middle">
                        @if (m.Visibility == MemberProfileVisibility.Public)
                        {
                            <span>Public</span>
                        }
                        else if (m.Visibility == MemberProfileVisibility.Private)
                        {
                            <span>Private</span>
                        }
                    </td>
                    <td valign="middle">@m.LastPulse</td>
                    <td valign="middle">
                        @if (m.Status == RecordStatus.Inactive)
                        {
                            <div><span class="text-danger">Inactive</span></div>
                            <button type="button" class="btn btn-light" @onclick="async () => {await this.ChangeStatus(m, RecordStatus.Active);}">Set Active</button>
                        }
                        else if (m.Status == RecordStatus.Active)
                        {
                            <div><span class="text-success">Active</span></div>
                            <button type="button" class="btn btn-light" @onclick="async () => {await this.ChangeStatus(m, RecordStatus.Inactive);}">Set Inactive</button>
                        }
                        else if (m.Status == RecordStatus.Unverified)
                        {
                            <div><span>Unverified</span></div>
                            <button type="button" class="btn btn-light" @onclick="async () => {await this.ChangeStatus(m, RecordStatus.Active);}">Set Active</button>
                        }
                        else if (m.Status == RecordStatus.Deleted)
                        {
                            <div><span>Deleted</span></div>
                            <button type="button" class="btn btn-light" @onclick="async () => {await this.ChangeStatus(m, RecordStatus.Active);}">Set Active</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.TotalPages > 1)
    {
        <div>
            <EditForm Model="CurrentPage" OnSubmit="LoadUsers" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <div class="input-group">
                        <InputNumber max="@Model.TotalPages" min="0" class="form-control" @bind-Value="CurrentPage" />
                        <div class="input-group-text">of @Model.TotalPages Pages (@Model.Total Rows)</div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Load</button>
                </div>
            </EditForm>
        </div>
    }
}
@if (!string.IsNullOrEmpty(Error))
{
    <Message MessageText="Error" MessageType="MessageType.Error" />
}
@if (!string.IsNullOrEmpty(Success))
{
    <Message MessageText="Success" MessageType="MessageType.Success" />
}

@code {
    private MemberListPaged? Model;
    public string Keywords { get; set; } = string.Empty;
    public int CurrentPage { get; set; } = 1;
    public int PageSize { get; set; } = 30;
    public bool Loading { get; set; }
    public string Error { get; set; } = string.Empty;
    public string Success { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        if (await lss.GetSessionValueAsync<MemberDTO>("user") == null)
        {
            nm.NavigateTo("login?returnUrl=users");
            return;
        }
        await LoadUsers();
    }

    public async Task LoadUsers()
    {
        try
        {
            Loading = true;
            Http.DefaultRequestHeaders.Authorization = AuthenticationHeaderValue.Parse("Bearer " + await lss.GetSessionValueAsync("token"));
            Model = await Http.GetFromJsonAsync<MemberListPaged>($"api/members/getmembers?k={Keywords}&p={CurrentPage - 1}&ps={PageSize}");
            Error = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Error = ex.Message;
        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }

    }

    public async Task ChangeStatus(MemberDTO m, RecordStatus status)
    {
        try
        {
            Loading = true;
            Http.DefaultRequestHeaders.Authorization = AuthenticationHeaderValue.Parse("Bearer " + await lss.GetSessionValueAsync("token"));
            await Http.GetAsync($"api/members/changestatus?id={m.ID}&status={status}");
            m.Status = status;
            Error = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Error = ex.Message;
        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }
    }
}
